<footer class="bg-dark text-white py-100 text-md-center">
      <div class="container d-lg-flex justify-content-between">
        <div>
          <h3>Menu</h3>
          <ul>
            <li>
              <a href="/"> Home </a>
            </li>
            <li>
              <a href="/sobre"> Sobre </a>
            </li>
            <li>
              <a href="/servicos"> Serviços </a>
            </li>
            <li>
              <a href="/produtos"> Produtos </a>
            </li>
            <li>
              <a href="/blog"> Blog </a>
            </li>
            <li>
              <a href="/contato"> Contato </a>
            </li>
          </ul>
        </div>
        <div class="mt-md-5">
          <h3>Produtos</h3>
          <ul>
            <li>
              <a href="/produtos?categoria=1">Categoria A</a>
            </li>
            <li>
              <a href="/produtos?categoria=2">Categoria B</a>
            </li>
          </ul>
        </div>
        <div class="mt-md-5">
          <h3>Serviços</h3>
          <ul>
            <li>
              <a href="/servicos/adubacao-e-fertilizacao"> Adubação e fertilização</a>
            </li>
            <li>
              <a href="/servicos/controle-de-pragas"> Controle de pragas </a>
            </li>
            <li>
              <a href="/servicos/corte-e-manutencao">Corte e manutenção </a>
            </li>
          </ul>
        </div>
        <div class="mt-md-5"> 
          <h3>Newsletter</h3>
          <form action="">
            <input
              class="d-block w-100 border py-1 px-1 mb-1"
              type="email"
              placeholder="Email"
            />
            <button
              class="d-block btn btn-success w-100 text-uppercase"
              type="submit"
            >
              Inscrever
            </button>
          </form>
        </div>
      </div>
      <div class="container mt-5 mb-5">
        <hr />
      </div>
      <div class="container d-lg-flex justify-content-between">
        <small> &copy; 2025 Empresa XPTO. Todos os direitos reservados. </small>
        <ul class="d-lg-flex mt-md-5">
          <li class="d-md-inline-block">
            <a href="https://facebook.com" target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li class="px-2 d-inline-block">
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li class="d-inline-block">
            <a href="https://youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </footer>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
