:root {
  --dark: #202020;
  --warning: tomato;
  --success: #619237;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}
body {
  font-family: "Roboto", sans-serif;
}
.debug {
  border: 1px solid red;
}
.container {
  padding: 0 15px;
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.container {
  margin: 0 auto;
}
.d-inline-block {
  display: inline-block;
}
@media (max-width: 991px) {
  .d-md-inline-block {
    display: inline-block;
  }
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
@media (min-width: 992px) {
  .d-lg-flex {
    display: flex;
  }
}
@media (min-width: 992px) {
  .d-lg-block {
    display: block;
  }
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.list-unstyled {
  list-style: none;
}
.column-gap-1 {
  column-gap: 10px;
}
.column-gap-3 {
  column-gap: 30px;
}
.column-gap-4 {
  column-gap: 40px;
}
.bg-warning {
  background-color: var(--warning);
}
.bg-success {
  background-color: var(--success);
}
.bg-light {
  background-color: rgba(0, 0, 0, 0.025);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}
@media (max-width:991px) {
  .text-md-center {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .text-lg-start {
    text-align: left;
  }
}
.text-uppercase {
  text-transform: uppercase;
}
.text-decoration-none {
  text-decoration: none;
}
.rounded {
  border-radius: 5px;
}
.rounded-1 {
  border-radius: 10px;
}
.px-1 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-2 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-3 {
  padding-left: 30px;
  padding-right: 30px;
}
.position-absolute {
  position: absolute;
}
.position-relative {
  position: relative;
}
.top-15 {
  top: 15px;
}
.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.p-2 {
  padding: 20px;
}
.p-5 {
  padding: 50px;
}
.pb-5 {
  padding-bottom: 50px;
}
.fs-2 {
  font-size: 20px;
}
.fs-5 {
  font-size: 50px;
}
.fs-4 {
  font-size: 40px;
}
.fs-3 {
  font-size: 30px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mt-5 {
  margin-top: 50px;
}
@media (max-width: 991px) {
  .mt-md-5 {
    margin-top: 50px;
  }
}
.mb-1 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mb-5 {
  margin-bottom: 50px;
}
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.border-white {
  border-color: white;
}
.border-0 {
  border: none;
}
.form-control {
  padding: 10px 15px;
}
.w-25 {
  width: 25%;
}
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25%;
  }
}
.w-50 {
  width: 50%;
}
@media (min-width: 992px) {
  .w-lg-50 {
    width: 50%;
  }
}
.w-100 {
  width: 100%;
}
.btn-sm {
  padding: 5px 10px;
}
.btn-dark {
  background-color: var(--dark);
  color: white;
}
.btn-dark:hover {
  background-color: white;
  color: var(--dark);
}
.btn-success {
  background-color: var(--success);
  color: white;
}
.fw-light {
  font-weight: 300;
}
.fw-bold {
  font-weight: bold;
}
.fw-normal {
  font-weight: 400;
}
.h2 {
  font-size: 40px;
  font-weight: 300;
}
.shadow {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
}
.img-fluid {
  max-width: 100%;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.text-white {
  color: white !important;
}
.text-success {
  color: var(--success);
}
.text-warning {
  color: var(--warning);
}
.text-dark {
  color: var(--dark);
}
.cursor-pointer {
  cursor: pointer;
}
.ratio-1x1 {
  aspect-ratio: 1/1;
}
@media (min-width: 992px) {
  .ratio-lg-1x1 {
    aspect-ratio: 1/1;
  }
}
