header {
  position: sticky;
  top: 0;
  background-color: white;
}
@media (max-width: 991px) {
  header {
    padding: 15px 0;
  }
}
@media (max-width: 991px) {
  header .menu {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    padding-top: 15px;
  }
}
header .menu > li > a {
  text-decoration: none;
  color: var(--dark);
  border-top: 5px solid #fff;
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 35px;
}
header .menu > li > a:hover {
  border-top-color: var(--warning);
}
@media (max-width: 991px) {
  header .menu > li > a {
    padding: 10px 0;
    border-top: none;
  }
}
header .menu > li {
  position: relative;
}
header .menu > li > ul {
  display: none;
}
@media (min-width: 992px) {
  header .menu > li > ul {
    position: absolute;
    top: 85px;
    left: 0;
  }
}
header .menu > li:hover > ul {
  display: block;
}
header .menu > li > ul a {
  text-decoration: none;
  color: var(--dark);
  display: inline-block;
  padding: 10px 15px;
}
header .menu > li > ul a:hover {
  background-color: var(--warning);
  color: white;
}
.hero {
  background-image: url("./../img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero h2 {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.hero h2 span {
  text-transform: uppercase;
}
.hero form {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
@media (min-width: 992px) {
  .hero form {
    width: 375px;
  }
}
.capa {
  aspect-ratio: 10/6;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.capa:hover {
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.servicos p {
  line-height: 25px;
}
.servicos a:hover span:first-child {
  background-color: var(--warning);
  border-radius: 50%;
}
.sobre p {
  line-height: 25px;
}
.sobre .item {
  border: 1px solid rgba(255, 255, 255, 0.25);
}
.numeros i {
  color: rgba(255, 255, 255, 0.5);
}
.marcas-atendidas .logo {
  aspect-ratio: 2/1.25;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
@media (min-width: 992px) {
  .marcas-atendidas .container > .d-lg-flex:first-child {
    border-bottom: 1px solid #ddd;
  }
  .marcas-atendidas .d-lg-flex > div:not(:last-child) {
    border-right: 1px solid #ddd;
  }
}
.depoimentos iframe {
  aspect-ratio: 3/2;
  width: 100%;
}
@media (min-width: 992px) {
  .depoimentos iframe {
    width: 33.33%;
  }
}
.galeria .d-flex > div {
  aspect-ratio: 3/2;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.blog p {
  line-height: 22.5px;
}
.mapa {
  width: 100%;
  height: 400px;
}
.call-to-action a {
  border-width: 2px;
  border-radius: 10px;
  padding: 15px 90px;
}
.call-to-action a:hover {
  background-color: white;
  color: var(--warning) !important;
}
footer h3 {
  margin-bottom: 10px;
}
footer ul {
  list-style: none;
}
footer li {
  padding: 5px 0;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: var(--warning);
}
footer hr {
  border: 1px solid rgba(255, 255, 255, 0.125);
}
@media (min-width: 992px) {
  footer div:first-child div {
    width: 25%;
  }
}
.planos td {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px;
  text-align: center;
}
.planos table {
  border-collapse: collapse;
}
.planos table tr:first-child td:first-child {
  border-top: none;
  border-left: none;
}
.planos table tr:last-child td:first-child {
  border-bottom: none;
  border-left: none;
}
.planos table tr:first-child td:nth-child(3) {
  background-color: var(--warning);
  color: white;
}
.planos table tr:nth-child(2) td:nth-child(2),
.planos table tr:nth-child(2) td:nth-child(3),
.planos table tr:nth-child(2) td:nth-child(4) {
  background-color: var(--success);
  color: white;
}
.planos table tr:nth-child(2n + 1) td {
  background-color: rgba(0, 0, 0, 0.05);
}
.planos table tr:first-child td {
  background-color: white;
}
.planos a {
  background-color: var(--warning);
  text-decoration: none;
  color: white;
  display: block;
  padding: 12.5px;
  border-radius: 10px;
  border: 2px solid var(--warning);
}
.planos a:hover {
  background-color: white;
  color: var(--warning);
}
@media (min-width: 992px) {
  .numeros .container > div:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    bottom: 10%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.25);
  }
}
@media (min-width: 992px) {
  #lista-de-produtos {
    flex-wrap: wrap;
  }
  #lista-de-produtos > div {
    flex: 0 0 25%;
    box-sizing: border-box;
  }
}