<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto 4</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/assets/css/framework.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <header class="shadow">
      <div class="container d-lg-flex align-items-center justify-content-between">
        <div class="d-flex justify-content-between align-items-center">
          <h1 class="text-success">Company Name</h1>
          <div class="d-flex d-lg-none column-gap-4">
            <a href="./carrinho" class="position-relative">
              <i class="fa-solid fa-cart-shopping"></i>
              <span id="carrinho-quantidade-mobile"
              class="bg-warning text-white rounded-1 px-1 position-absolute"
              >0</span
              >
            </a>
            <i class="fa-solid fa-bars d-lg-none cursor-pointer" id="hamburguer"></i>
          </div>
        </div>
        <ul class="d-lg-flex list-unstyled column-gap-3 menu d-none" id="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/sobre">Sobre</a>
          </li>
          <li>
            <a href="/servicos">Serviços</a>
          </li>
          <li>
            <a href="/produtos">Produtos <i class="fa-solid fa-angle-down"></i></a>
            <ul class="bg-white list-unstyled">
              <li>
                <a href="">
                  Categoria&nbsp;A
                </a>
              </li>
              <li>
                <a href="">Categoria&nbsp;B</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/contato">Contato</a>
          </li>
          <li class="d-none d-lg-block">
            <a href="/carrinho" class="position-relative">
              <i class="fa-solid fa-cart-shopping"></i>
              <span id="carrinho-quantidade"
                class="bg-warning text-white rounded-1 px-1 position-absolute top-15"
                >0</span
              >
            </a>
          </li>
        </ul>
      </div>
    </header>